# **MÓDULO 25 - Operações Básicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [2]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [3]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [4]:
def run_query(query):
    return pd.read_sql_query(query, conn)

In [7]:
query =  "SELECT * FROM tb_vendas LIMIT 10"
resultado = run_query(query)
print(resultado)

   ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0       1247        9081  CAMISETA       34,5         2
1       1248        9081     CALCA       89,9         1
2       1250        9560  CAMISETA       34,5         1
3       1249        9630   BERMUDA       79,5         2
4       1251        9425  CAMISETA       34,5         3
5       1252        9425   VESTIDO        102         1
6       1253        9481     CALCA       89,9         2
7       1254        9785      MEIA       25,9         1
8       1255        9786     CALCA       89,9         2
9       1256        9787   VESTIDO        102         1

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [12]:
query ="SELECT DISTINCT(PRODUTO) FROM tb_vendas" 
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

In [20]:
query = """
SELECT
COUNT(DISTINCT ID_CLIENTE) AS TOTAL_CLIENTES
FROM
tb_vendas

"""
result_df = run_query(query)
print(result_df)

   TOTAL_CLIENTES
0              22

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [21]:
query = """
SELECT
DISTINCT(PRODUTO), VALOR_UNID
FROM
tb_vendas
WHERE
VALOR_UNID >= 50
"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [29]:
query = """
SELECT
ID_COMPRA, SUM(VALOR_UNID * UNIDADES) AS TOTAL
FROM
tb_vendas
GROUP BY
ID_COMPRA
ORDER BY TOTAL DESC
LIMIT 5
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  TOTAL
0       1267    204
1       1262    178
2       1257    178
3       1255    178
4       1253    178

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

In [30]:
query = """
SELECT 
PRODUTO, AVG(VALOR_UNID) AS MEDIA
FROM
tb_vendas
GROUP BY PRODUTO
ORDER BY MEDIA DESC
"""
result_df = run_query(query)
print(result_df)

    PRODUTO  MEDIA
0   VESTIDO  102.0
1     CALCA   89.0
2   BERMUDA   79.0
3  CAMISETA   34.0
4      MEIA   25.0

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [33]:
query = """
SELECT
ID_CLIENTE, COUNT(ID_COMPRA) AS TOTAL_COMPRAS
FROM 
tb_vendas
GROUP BY ID_CLIENTE
ORDER BY TOTAL_COMPRAS DESC
LIMIT 3
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  TOTAL_COMPRAS
0        9425              2
1        9081              2
2        9801              1